# Setup

In [1]:
%load_ext autoreload
%autoreload 2

import sys

sys.path.append('../src/')

# Regular Cashflows

## Import Packages

In [2]:
from interesting.cashflow import Cashflow
from interesting.interest import YearlyCompoundInterestRate

## Build a Cashflow

In [3]:
# A cashflow that pays monthly for 2 years
freq='M'
interest=YearlyCompoundInterestRate(0.06).convert_to_equivalent(freq)
inflation=YearlyCompoundInterestRate(0.04).convert_to_equivalent(freq)
start_date='2025-01-01'
end_date='2027-01-01'
initial_capital_pmt = 1000
cashflow = Cashflow().from_regular_interest(
    start_date=start_date,
    end_date=end_date,
    interest=interest,
    freq=freq,
    initial_capital_pmt=initial_capital_pmt,
    final_capital_pmt=-initial_capital_pmt,
    inflation=inflation)
cashflow.data

            interest_paid  principal       brutto
date
2025-01-01       0.000000     1000.0  1000.000000
2025-02-01      -8.157225        0.0    -8.157225
2025-03-01      -8.157225        0.0    -8.157225
2025-04-01      -8.157225        0.0    -8.157225
2025-05-01      -8.157225        0.0    -8.157225
2025-06-01      -8.157225        0.0    -8.157225
2025-07-01      -8.157225        0.0    -8.157225
2025-08-01      -8.157225        0.0    -8.157225
2025-09-01      -8.157225        0.0    -8.157225
2025-10-01      -8.157225        0.0    -8.157225
2025-11-01      -8.157225        0.0    -8.157225
2025-12-01      -8.157225        0.0    -8.157225
2026-01-01      -8.157225        0.0    -8.157225
2026-02-01      -8.157225        0.0    -8.157225
2026-03-01      -8.157225        0.0    -8.157225
2026-04-01      -8.157225        0.0    -8.157225
2026-05-01      -8.157225        0.0    -8.157225
2026-06-01      -8.157225        0.0    -8.157225
2026-07-01      -8.157225        0.0    -8.157225
2026-08-01      -8.157225        0.0    -8.157225
2026-09-01      -8.157225        0.0    -8.157225
2026-10-01      -8.157225        0.0    -8.157225
2026-11-01      -8.157225        0.0    -8.157225
2026-12-01      -8.157225        0.0    -8.157225
2027-01-01      -8.157225    -1000.0 -1008.157225

In [4]:
# A cashflow that accumulates for 2 years
interest=YearlyCompoundInterestRate(0.06)
inflation=YearlyCompoundInterestRate(0.04)
start_date='2025-01-01'
end_date='2027-01-01'
freq='F'
initial_capital_pmt = 1000
cashflow = Cashflow().from_regular_interest(
    start_date=start_date,
    end_date=end_date,
    interest=interest,
    freq=freq,
    initial_capital_pmt=initial_capital_pmt,
    final_capital_pmt=-initial_capital_pmt,
    inflation=inflation)
cashflow.data

            interest_paid  principal      brutto
date
2025-01-01        0.00000     1000.0  1000.00000
2027-01-01     -215.28576    -1000.0 -1215.28576

# Pension

In [5]:
# xxx build from fixed pmts
interest=YearlyCompoundInterestRate(0.04).convert_to_equivalent("M")

pension_cashflow = Cashflow.from_regular_pmt(pmt_amount=3000,
            freq="M",
            initial_capital_pmt=0,
            final_capital_pmt=0,
            start_date='2025-01-31',
            end_date='2055-01-31')

pension_cashflow.discount_from_constant_rate(target="brutto", interest=interest)
pension_cashflow.print_npv_and_irr(target="brutto")

col: brutto
irr: InterestRate(value=nan, freq='Y', regime='compound')
npv: Value(value=633,845.12, price_date='2025-01-31')