# Setup

In [1]:
%load_ext autoreload
%autoreload 2

import sys

sys.path.append('../src/')

# Brazilian Bonds
Cashflows that model Brazilian Bonds

## Import Packages

In [2]:
from interesting.bonds import LTN, NTNB
from interesting.interest import YearlyCompoundInterestRate

## Brazilian Public Bonds
### NTNB

In [3]:
start_date = '2023-07-12'
end_date = '2045-01-02'
initial_capital_pmt = 1000.0
interest = YearlyCompoundInterestRate(0.058)
inflation = YearlyCompoundInterestRate(0.040)

ntnb = NTNB(start_date=start_date, end_date=end_date, interest=interest, inflation=inflation, initial_capital_pmt=initial_capital_pmt)
ntnb.data

            interest_paid  principal       brutto
date
2023-07-12       0.000000     1000.0  1000.000000
2024-01-12     -48.961391        0.0   -48.961391
2024-07-12     -48.961391        0.0   -48.961391
2025-01-12     -48.961391        0.0   -48.961391
2025-07-12     -48.961391        0.0   -48.961391
2026-01-12     -48.961391        0.0   -48.961391
2026-07-12     -48.961391        0.0   -48.961391
2027-01-12     -48.961391        0.0   -48.961391
2027-07-12     -48.961391        0.0   -48.961391
2028-01-12     -48.961391        0.0   -48.961391
2028-07-12     -48.961391        0.0   -48.961391
2029-01-12     -48.961391        0.0   -48.961391
2029-07-12     -48.961391        0.0   -48.961391
2030-01-12     -48.961391        0.0   -48.961391
2030-07-12     -48.961391        0.0   -48.961391
2031-01-12     -48.961391        0.0   -48.961391
2031-07-12     -48.961391        0.0   -48.961391
2032-01-12     -48.961391        0.0   -48.961391
2032-07-12     -48.961391        0.0   -48.961391
2033-01-12     -48.961391        0.0   -48.961391
2033-07-12     -48.961391        0.0   -48.961391
2034-01-12     -48.961391        0.0   -48.961391
2034-07-12     -48.961391        0.0   -48.961391
2035-01-12     -48.961391        0.0   -48.961391
2035-07-12     -48.961391        0.0   -48.961391
2036-01-12     -48.961391        0.0   -48.961391
2036-07-12     -48.961391        0.0   -48.961391
2037-01-12     -48.961391        0.0   -48.961391
2037-07-12     -48.961391        0.0   -48.961391
2038-01-12     -48.961391        0.0   -48.961391
2038-07-12     -48.961391        0.0   -48.961391
2039-01-12     -48.961391        0.0   -48.961391
2039-07-12     -48.961391        0.0   -48.961391
2040-01-12     -48.961391        0.0   -48.961391
2040-07-12     -48.961391        0.0   -48.961391
2041-01-12     -48.961391        0.0   -48.961391
2041-07-12     -48.961391        0.0   -48.961391
2042-01-12     -48.961391        0.0   -48.961391
2042-07-12     -48.961391        0.0   -48.961391
2043-01-12     -48.961391        0.0   -48.961391
2043-07-12     -48.961391        0.0   -48.961391
2044-01-12     -48.961391        0.0   -48.961391
2044-07-12     -48.961391    -1000.0 -1048.961391

### LTN

In [4]:
start_date = '2023-07-12'
end_date = '2025-01-02'
initial_capital_pmt = 1000
interest = YearlyCompoundInterestRate(0.12)

ltn = LTN(start_date=start_date, end_date=end_date, interest=interest, initial_capital_pmt=initial_capital_pmt)
ltn.data

            interest_paid  principal       brutto
date
2023-07-12       0.000000     1000.0  1000.000000
2025-01-02    -181.255248    -1000.0 -1181.255248

In [5]:
interest = YearlyCompoundInterestRate(0.04)

ltn.tax()
ltn.deflate_from_constant(target="netto", constant=0.04)
ltn.agg_to_freq("YE")
ltn.discount_from_constant_rate(target="netto_deflated", interest=interest)
ltn.data

,interest_paid,principal,brutto,delta_days,taxRate,tax,netto,delta_years,deflator,netto_deflated,netto_deflated_discount_yield,netto_deflated_discount_factor,netto_deflated_present_value
date,,,,,,,,,,,,,
2023-12-31,0.000000,1000.0,1000.000000,0,0.20,0.000000,1000.000000,0.000000,1.000000,1000.000000,0.00,1.000000,1000.000000
2024-12-31,0.000000,0.0,0.000000,0,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,0.04,0.961538,0.000000
2025-12-31,-181.255248,-1000.0,-1181.255248,540,0.15,-27.188287,-1154.066961,1.469863,1.059343,-1089.417463,0.04,0.924556,-1007.227684